#first-td {
    background: url(img/background.jpg);
    background-size: cover;
    background-origin: content-box;
    height: 300px;
    column-width: 30%;
    column-count: 3;
    column-gap: 5%;
    column-rule: 3px solid rgb(255, 255, 255);
}
#p1 {
    font: 20px serif;
    color:rgb(34, 62, 90);
    text-shadow: 5px 5px 2px rgb(255, 255, 255);
}
#p2 {
    font: bold italic 120% serif;
    color:rgb(255, 255, 255);
    text-shadow: 0px 0px 2px black, 0 0 1em rgb(57, 157, 223);
}
#p3 {
    font: normal small-caps 16px sans-serif;
    color:rgb(0, 97, 153);
    text-shadow: -5px -5px 2px rgb(122, 174, 204);
}
img {
    height: 300px;
    width: 300px;
    opacity: 0.7;
}
#img1 {
    position: absolute;
    padding: 0px;
}
#img2 {
    position: absolute;
    padding: 40px;
}
#img3 {
    position: absolute;
    padding:80px;
}
.trans{
    width: 460px;
    height: 460px;
    position: relative;
    animation-name: white-square;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-delay: 1.5s;
}
@keyframes white-square {
    0%{
        opacity: 1;
        top: 0;
        left: 0;
        transform: rotate(0);
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: rotate(360deg);
       left: 1520px;

    }
}
